@model WEB452_Ass1_PENS.Models.Pen

@{
    ViewData["Title"] = "Details";
}


<style>
    html {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    body {
        background-color: #1a273f;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>


<div class="products-container">
    <div class="products-content">
        <div class="products-content-header">
            <h1 class="products-content-headerText">Details</h1>
        </div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Colour)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Colour)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Size)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Size)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Erasable)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Erasable)
            </dd>
        </dl>
    </div>
</div>

<button class="general-Button"><a asp-action="Edit" asp-route-id="@Model.Id">Edit Product Info</a></button>
<button class="general-Button"><a asp-action="Index">Back to List</a></button>
