@model WEB452_Ass1_PENS.Models.PenTipViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Pens" asp-action="Index">
    <p>
        <select asp-for="PenTipSize" asp-items="Model.Tips">
            <option value="">All</option>
        </select>

        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Erasable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pens[0].Image)
            </th>
                        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pens) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Erasable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
